
body {
    line-height: 1.5;
    box-sizing: border-box;
}

form {
  position: relative;
}

/* #submitBtn {
  z-index: -1;
} */

#result {
    padding: 3px;
    margin-top: 5%;
    position: absolute;
    border-radius: 2px;
    z-index: 1;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    background-color: white;
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }


#result.custom-result {
  margin-top: 15%;
  margin-left: -20%;
  position: absolute;
}